{% comment %}

https://heiswayi.nrird.com/image-caption-using-liquid-syntax

{% endcomment %}

{% if include.caption %}
<figure style="max-width: 700px; margin: auto; padding-bottom: 20px;">
    {% if include.href %}
    <a href="{{ include.href }}">
        <img style="max-height: auto; max-width: 100%;" src="{{ include.src }}" alt="{{ include.caption | strip }}">
    </a>
    {% else %}
    <a href="{{ include.src }}">
        <img style="max-height: auto; max-width: 100%;" src="{{ include.src }}" alt="{{ include.caption | strip }}">
    </a>
    {% endif %}
    <figcaption><span>{{ include.caption | strip }}</span></figcaption>
</figure>
{% else %}
<figure style="max-width: 700px; margin: auto;">
    {% if include.href %}
    <a href="{{ include.href }}">
        <img style="max-height: auto; max-width: 100%;" src="{{ include.src }}" alt="">
    </a>
    {% else %}
    <a href="{{ include.src }}">
        <img style="max-height: auto; max-width: 100%;" src="{{ include.src }}" alt="">
    </a>
    {% endif %}
</figure>
{% endif %}
