.content-highlight {
  background-color: #eef;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  font-family: inherit;
  border: 1px solid #e8e8e8;
}
.content-highlight-grey {
  background-color: #e6e6e6;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  font-family: inherit;
  border: 1px solid #e8e8e8;
}

.narrow-table {
  max-width: 400px;
  margin: 0 auto;
}
